@use "./themes.scss" as *;

:root {
    --ff-sans: "Montserrat", sans-serif;

    &:has(#theme-light:checked) {
        @each $key, $value in $theme-light {
            --#{$key}: #{$value};
        }
    }

    &:has(#theme-dark:checked) {
        @each $key, $value in $theme-dark {
            --#{$key}: #{$value};
        }
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--ff-sans);
    line-height: 1.4;
    // color: var(--color-primary);
    color: var(--clr-primary);
    background-color: var(--bg-primary);
}

h1 {
    margin-block: 24px 16px; 
}

h2 {
    font-size: 0.7rem;
    color: var(--clr-weak);
    text-transform: uppercase;
}

p {
    margin-bottom: 12px;
}

a,
a:visited {
    color: inherit;
}

.surface {
    background-color: var(--bg-surface);

    > svg {
        stroke: var(--bg-surface);
        fill: var(--bg-surface);
    }
}


.hover:hover {
    color: var(--bg-surface);
    fill: var(--bg-surface);
}

svg:hover {
    stroke: var(--clr-accent);
}