@use "./themes.scss" as *;

:root {
    --ff-sans: "Montserrat", sans-serif;

    &:has(#theme-light:checked) {
        @each $key, $value in $theme-light {
            --#{$key}: #{$value};
        }
    }

    &:has(#theme-dark:checked) {
        @each $key, $value in $theme-dark {
            --#{$key}: #{$value};
        }
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s;
}

body {
    font-family: var(--ff-sans);
    color: var(--clr-primary);
    background-color: var(--bg-primary);
    line-height: 1.4;
}

button {
    background-color: inherit;
    color: inherit;
    border: none;
    cursor: pointer;
}

a {
    color: inherit;

    &:hover {
        color: var(--clr-accent);
    }
}

h1 {
    margin-block: 24px 16px; 
}

h2 {
    font-size: 0.7rem;
    color: var(--clr-weak);
    text-transform: uppercase;
}

h6 {
    color: var(--clr-weak)
}

p {
    margin-bottom: 12px;
}

.surface {
    background-color: var(--bg-surface);

    > svg {
        stroke: var(--bg-surface);
        fill: var(--bg-surface);
    }
}


// .hover:hover {
//     color: var(--bg-surface);
//     fill: var(--bg-surface);
// }

